/* Estilos gerais */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  position: relative;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Estilos para tablets */
@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

  .nav-list.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .logo {
    font-size: 1.6rem;
  }

  .nav-list {
    gap: 1rem;
  }
  .nav-list a {
    margin-right: 46rem;
  }

  .menu-icon {
    font-size: 2rem;
    margin-right: 25rem;
  }
}